<section class="profile-section">
    <div class="card">
        <div class="card-header">
            <div class="header-1">
               <div class="card-header-banner"></div> 
            </div>
            <div class="header-2">
                <div><img class="card-img" src="/assets/img/img2.png" alt=""></div>
                <div class="profile-edit"><button class="btn-edit">Edit</button></div>
            </div>
        </div>
        <div class="card-body">
            <h2 class="title-body">Daniel Iuliano</h2>
            <div class="text-body-box">
                <div class="text-body-left">
                    <p class="text">Buenos Aires, Argentina</p>
                    <p class="text">Fullstack Developer<a class="text a" href="">informacion de contacto</a></p>
                    
                    <div>  
                        <button class="btn-more">Tengo interes en</button>   
                        <button class="btn-edit add-section">Add Section</button>
                    </div>
               
                </div>
                <div class="text-body-right">
                    <p class="text">Universidad Nacional de Quilmes</p>
                    <p class="text">Instituto Nacional de Tecnología Industrial</p>
                </div>
            </div>
        </div>
    </div>
  </section>
