<section class="about-section">
    <div class="card">
        <div class="card-header edit-include">
            <h3 class="card-header-title">Sobre Mi</h3>
            <button class="btn-edit">Edit</button>
        </div>
        
        <div class="card-body">
            <div class="text-body-box">
                <div class="text-body-left">
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores necessitatibus ipsam ab nostrum ratione debitis! Autem tenetur, in voluptates enim nulla quam vero voluptatibus quisquam sed facere itaque doloribus.</p>
                </div>
                <div class="text-body-right">
                   
                  
                </div>
            </div>
        </div>
    </div>
  </section>
