<section class="education-section">
    <div class="card">
        <div class="card-header edit-include">
            <h3 class="card-header-title">Educacion</h3>
            <button class="btn-edit">Add</button>
        </div>
        <div class="card-body">
            <div class="text-body-box">
                <div class="text-body-left">
                    <h4>Fullstack Developer</h4>
                    <p>Instituto Nacional de Tecnología Industrial</p>
                    <p>2020-2020</p>
                </div>
                <div class="text-body-right">
                    <button class="btn-edit">Edit</button>
                    <button class="btn-edit">Delete</button>
                </div>
            </div>
            
        </div>
    </div>
  </section>
