<section class="experiencie-section">
    
    <div class="card">
        <div class="card-header edit-include">
            <h3 class="card-header-title">Experiencia</h3>
            <button class="btn-edit">Add</button>
        </div>
        <div class="card-body">
            <div class="text-body-box">
                <div class="text-body-left">
                    <h4>FrontEnd Developer</h4>
                    <p>Independiente</p>
                    <p>2014-actualidad</p>
                </div>
                <div class="text-body-right">
                    <button class="btn-edit">Edit</button>
                    <button class="btn-edit">Delete</button>
                </div>
            </div>
        </div>
    </div>
  </section>