<section class="header-section">
    <header class="header">
        <h3 class="header-title">{{headerTitle}}</h3>
        <div class="header-right">
            <div class="redes">
                <a href=""><i class="icon-header fab fa-instagram"></i></a>
                <a href=""><i class="icon-header fab fa-twitter"></i></a>
                <a href=""><i class="icon-header fab fa-github"></i></a>
            </div>
            <button class="login-btn">login</button>
        </div>
    </header>
  </section>
